apiVersion: v1
kind: Service
metadata:
  name: {{ include "mon-app.fullname" . | trunc 63 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
  selector:
    app: {{ include "mon-app.name" . }}
